* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


@font-face{
    font-family: "Blanch";
    src: url("../fonts/blanch_caps-webfont.eot") ;
    src: url("../fonts/blanch_caps-webfont.eot#iefix") format("embedded-opentype"),
        url("../fonts/blanch_caps-webfont.ttf") format("truetype"),
        url("../fonts/blanch_caps-webfont.woff") format("woff"),
        url("../fonts/blanch_caps-webfont.svg#bariol") format("svg");
    font-weight: normal;
    font-style: normal;
}

body, html {
	font-size: 62.5%;
	height: 100%;
	width: 100%;
}
circle{
	-webkit-user-select: none;
}
Body{
 	position: relative;
 }
#facesS{
  	z-index: 1;
	position: absolute;
	left:0;
  	top:0;
}
#game{
    position: absolute;
    left:0;
    top:0;
    z-index: -1;
    color: #ffffff;
}
.nameTag{
    position:absolute;
    text-decoration: none;
    list-style: none;
    background-color: #204c87;
    border-radius: 10px 10px 10px 1px;
    color: #ffffff;
    font-family: Blanch, helvetica,arial, sans-serif;
    font-size: 24pt;
}
.nameTag p{
  margin:10px;
}

#txtName {
	position: absolute;
	z-index: 3;
	top: 370px;
	left: 60px;
	border-radius: 10px;
	padding: 20px 10px;
	border: none;
	text-align: center;
	font-family: Blanch, Helvetica, sans-serif;
	font-size: 4em;
}
