// kleuren.
// #e84c3d, #1bbc9b, #2dcc70, #3598db, #34495e, #16a086, #f1c40f, #297fb8, #8d44ad

@import 'compass/reset';

* {
	box-sizing: border-box;

}

body {
	font-size: 62.5%;
	font-family: Montserrat, Helvetica;
}

