<svg id="faces" xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
width="100px" height="100px" viewport="0 0 100% 100%">
</svg>
<div id="nameTags">
    <ul>
    </ul>
</div>
<svg id="game" xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
width="100%" height="600px" viewport="0 0 100% 100%" style="background-image: url('assets/background_sky.png');background-size: 100% 100%;">
	<image id="ground" xlink:href="assets/background_ground.png" />
	<image id="cloud1" xlink:href="assets/wolk1.png" />
	<image id="cloud2" xlink:href="assets/wolk2.png" />
	<image id="cloud3" xlink:href="assets/wolk3.png" />
</svg>